body {
  font-size: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  
}


  
p {
  font-family: "", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/*logo img disappears when screen size drops below 767px */
@media (max-width: 767px){
  img {
    display: none;
  }
}

.cart {
  color: deepskyblue;
  font-family: 'Lobster', 'cursive';
  border-style: none;
  text-shadow: .35px .35px black;
}

.add-to-cart {
  color: deepskyblue;
  font-family: 'Lobster', 'cursive';
  border-radius: 10%;
  
  
}

.remove-from-cart {
  color: deepskyblue;
  font-family: 'Lobster', 'cursive';
  border-radius: 10%;
}

.add-to-cart:hover {
  border-color: black;
}

.remove-from-cart:hover {
  border-color: black;
}


/***************** NAV *****************/

nav a {
  font-family: 'Lobster', cursive; 
  color: deepskyblue;
  font-size: 2rem;
  text-shadow: .5px .5px black;
}

nav a:hover {
  text-decoration: underline;
  color: deepskyblue;
  
}

/* smaller website title for smaller devices */
@media (max-width: 500px){
  .title {
    font-size: 15px;
  }
}

@media (max-width: 350px){
  .title {
    font-size: 10px;
  }
}

/* main navigation disappears at this pixel width */
@media (max-width: 767px){
  .nav-1 {
    display: none;
  }
}

/* 'Hamburger' nav disappears at this screen size */
@media (min-width: 768px){
  .nav-2 {
    display: none;
  }
}

/* resizing the searchbar when screen size gets to 600px or smaller */
@media (max-width: 600px){
  input.searchbar {
    width: 260px;
  }
}



/**************** HERO *****************/

header img {
  max-height: 6rem;
}


.searchbar {
  width: 30rem;
  
}



.logo-w {
  font-size: 4rem;
  color: deepskyblue;`
  font-family: 'Rammetto One', cursive;
  text-shadow: 1px 1px black;
  align-content: center;
  justify-content: center;
}



/* font size adjustments for smaller devices */
@media (max-width: 768px){
  h1 {
    font-size: 2rem;
    justify-content: center;
  }
  .logo-w {
    font-size: 3rem;
    justify-content: center;
  }
  .scarf-pic {
    width: inherit;
  }
}


h1 {
  font-family: 'Rammetto One', cursive;
}



/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 4rem;
  text-align: center;
  color: deepskyblue;
  font-family: 'Lobster',cursive;
  text-decoration: underline;
  margin-bottom: 2rem;
  text-shadow: 2px 2px black;
  
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: deepskyblue;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px black;
}

.price {
  color: lightcoral;
  font-size: 1.75rem
}

.stars {
  color: lightcoral;
}

/* scarf divs scaled down for smaller devices */
@media (max-width: 576px){
  .scarves {
    width: 50%;
  }
  h3 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  .scarf-pic {
    width: inherit;
  } 
}

footer {
  height: 10rem;
}

/* email and phone signup fields are smaller on smaller devices */
@media (max-width: 470px){
  label {
    width: 60%;
  }
}
